<div class="columns">
  <div class="column is-6 is-offset-3">
    <h1 class="title is-2">Add a New Coffee</h1>
    <form action="/coffees" method="POST">
      <label for="name" class="subtitle is-5">Name</label>
      <input class="input" id="name" type=text name="name" placeholder="Harmony Blend" value="<%=@coffee.name%>">
      <label for="origin" class="subtitle is-5">Origin</label>
      <input class="input" id="origin" type=text name="origin" placeholder="Brazil & Guatemala" value="<%=@coffee.origin%>">
      <label for="variety" class="subtitle is-5">Variety</label>
      <input class="input" id="variety" type=text name="variety" placeholder="Bourbon" value="<%=@coffee.variety%>">
      <label for="notes" class="subtitle is-5">Notes</label>
      <textarea class="textarea" type="text" id="notes" name="notes" placeholder="dark chocolate, cherry, honeysuckle"><%=@coffee.notes%></textarea>
      <label for="intensifier" class="subtitle is-5">Intensifier</label>
      <input class="input" id="intensifier" type=text name="intensifier" placeholder="mild, crisp, clearn" value="<%=@coffee.intensifier%>">
      <label for="rating">Rate this Coffee (1-10)</label>
      <input id="rating" type="number" min="1" max="10" name="rating" value="<%=@coffee.rating%>"><br>
      <br>
      <input class="button is-info" id="submit" type="submit" value="Add Coffee">
    </form>
  </div>
</div>
