<h1><%= @coffee.name %></h1>
<h2>Origin: </h2><h3><%= @coffee.origin %></h3>
<h2>Variety: </h2><h3><%= @coffee.variety %></h3>
<h2>Notes: </h2><h3><%= @coffee.notes %></h3>
<h2>Intensifiers: </h2><h3><%= @coffee.intensifier %></h3>
<h3>Created By: </h3><h3><%= @coffee.user.name %></h3>
<% if current_user == @coffee.user %>
<p><a href="/coffees/<%= @coffee.id %>/edit">Edit</a></p>
<p>
<form action="/coffees/<%=@coffee.id%>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this Coffee">
</form>
</p>
<% end %>
